.employee {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--white);
    background-clip: border-box;
    box-shadow: 4px 4px 16px rgb(0 0 0 / 10%);
    border: 0.5px solid rgba(24, 28, 33, 0.13);
    border-radius: 8px;
    margin: 15px;
    padding: 1.5rem;
    min-height: 1px;
    gap:20px;
}

.employee__header{
    display: flex;
    justify-content: end;
    align-items: center;
    gap:20px;
}

.employee__tableContainer{
    overflow-x: auto;
}

.dataTable {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    font-family: 'Halvetica';
    text-align: left;
    color:black;
    font-size: 0.875rem;
}

.dataTable__header{
    padding: 8px 20px;
}

.dataTable__header tr th{
    padding: 8px 10px;
    border-bottom: thin solid var(--grey);
}

.dataTable__body tr td{
    text-align: left;
    padding: 8px 10px;
}

.dataTable tr:nth-child(even){
    background-color: rgba(0, 0, 0, 0.024)
}

  @media screen and(max-width: 640px) {
      thead, th{
          display: block;
      }

      tr{
          display: block;
          border: 1px solid rgba(0, 0, 0,.15);
          margin-bottom: 2rem;
      }

      tr:last-child {
          margin-bottom: 0;
      }
}
.employee__dropdown {
    position: relative;
    display: inline-block;
}

.employee__buttonDropdown {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 12px;
    margin: 4px 10px;
    border: white;
    border-radius: 50%;
    cursor: pointer;
}

.employee__dropdownBox {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    border-radius: 16px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.employee__dropdownBox a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.employee__dropdownBox a:hover {
    background-color: #f1f1f1;
    color: var(--grey-dark);

}

.employee__dropdown:hover .employee__dropdownBox {
    display: block;
}

.employee__dropdown:hover .employee_buttonDropdown {
    background-color: var(--grey);
    transition-duration: 0.4s;
}

